<div class="content">
  <div class="containerB">
    <h4>Do not save:</h4>
      <div id="times">
	<% time.forEach(function(t){ %>
	      <input type ="checkbox"  name=<%=t.id%> class=<%="time"+t.id%> value=<%=t.id%>/>
		<% if(t.weekEnd == 1 ){%>
		  Week-End 
		<%}%>
		<% if(t.week == 1){%>
		  Week
		<%}%>
		<%= t.fromHour%>
		<%= t.toHour%>
		<a id=<%="cross"+t.id%> class="close" onclick="removeTime(<%=t.id%>);">x</a><br/>
	      <br/>
	    <% }); %>
      </div>
  </div>

  <div class="containerB"> 
    <div id="timeError"></div>
    <h4>Add new</h4>      
    <div id="addTime">
      <input type="checkbox" name="days" value="1" id="week"> Week </input>
      <input type="checkbox" name="days" value="2" id="weekEnd"> Week-End </input>
      From <input type="time" name="hourStart" id="hourStart"/> to <input type="time" name="hourStop" id="hourStop"/>
      <input type="submit" name="timeSubmit" value="Submit" id="timeSubmit" onClick="saveTime();">
    </div>
  </div>	 
</div>
